*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;

}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.work__title{
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    color: black;
}

.work__title span{
    color: #00D465;
}
.work__list{
    list-style: none;
}
.work__item{
  
    align-items: center;
    margin-top: 65px;
}
.work{
    background-image: url('../img/bgi.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 200px;
}
.work__item span{
    width: 121px;
    height: 121px;
    background-color: #00D465;
    border-radius: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
font-size: 60px;
line-height: 69px;
color: #FFFFFF;

}
.work__item div{
    width: 434px;
    margin-left: 20px;
}

.work__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.work__img{
    width: 547px;
height: 777px;
position: absolute;
bottom: 0;
right: -500px ;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
